@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Playwrite+NG+Modern:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Lobster&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.heading {
  font-family: "Pacifico", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: xx-large;
}

.blinker-semibold {
  font-family: "Blinker", sans-serif;
  font-weight: 600;
  font-style: normal;
}

html,
body {
  overscroll-behavior: none;
}

.carousel img {
  display: block;
  width: 100%;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Remove scrollbar space for Webkit browsers */
  /* Optional: just make scrollbar invisible */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c1bcbc; /* Grey scrollbar handle */
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #bcb9b9; /* Darker grey on hover */
}

.custom-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: 2px; /* Firefox */
}
